
.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {
    background-color: #9b969621;
  }
  .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color:white;
    color: black;
  }
  .table>thead>tr>th {
    border-bottom-width: 1px;
    background-color: rgba(238, 29, 29, 0.425);
  }
  .table>thead>tr td {
    font-weight:800;
    color:#454545; 
  }   
  
button{
  float: centre;
  color:black;
}