<div id="wrapper">
<app-first></app-first>
    <div id="sidebar-wrapper">
      <body>
        <nav id="spy">
          <div class="container-fluid">
            <div class="col-md-12 col-sm-12">
              <ul class="sidebar-nav nav ">
                <span class="sidebar-brand">
    <a class="list-group-item" href="#"><i class="fa fa-dashboard"></i>&nbsp; <i class="text">DASHBOARD</i></a>
    <div class="list-group">
        <a class="list-group-item" routerLink="/app-inbox"><i class="fa fa-inbox"></i>&nbsp;<i class="text"> INBOX</i></a>
        <a class="list-group-item" routerLink="/app-events"><i class="fa fa-calendar"></i>&nbsp; <i class="text">EVENTS</i></a>
        <a class="list-group-item" routerLink="/app-collegelist"><i class="fa fa-book"></i>&nbsp; <i class="text">LIST OF<br>&nbsp; &nbsp;&nbsp; COLLEGES</i></a>
        <a class="list-group-item" routerLink="/app-news"><i class="fa fa-info-circle"></i>&nbsp; <i class="text">NEWS</i></a>
        <a class="list-group-item" routerLink="/app-imgvid"><i class="fa fa-picture-o"></i>&nbsp; <i class="text">GALLERY</i></a>
        <a class="list-group-item" routerLink="/app-calender"><i class="fa fa-calendar"></i>&nbsp; <i class="text">CALENDAR</i></a>
        <a class="list-group-item" href="#"><i class="fa fa-sign-out"></i>&nbsp; <i class="text">SIGN-OUT</i></a>
        <a class="list-group-item" id="Dropdm" data-toggle="collapse" data-target="#demo"><i class="fa fa-caret-down"></i>&nbsp;<i class="text">TREESET</i>
          <div id="demo" class="collapse" >
              <ul class="list-group"> 
                  <li class="list-goup-item"><a href="#" >Sub Menu1</a></li>
                  <li class="list-goup-item"><a href="#" >Sub Menu2</a></li>
                  <li class="list-goup-item"><a href="#" >Sub Menu3</a></li>
              </ul>
          </div>  
        </a>  
    </div>
                </span>
              </ul>
            </div>
          </div>
        </nav>
      </body>
    </div>
</div>
