
.navbar-header{
	width: 100%;	
}
.text{
	font-family: FontAwesome;
	font-size: large;
	line-height: 40px;
}
	.fa{
		line-height: 40px;
		letter-spacing: 10px;
		font-size: larger;
	}	

  
  /* On using dropdown menu (To right shift popuped) */
  .sidebar-nav .navbar-nav > li > .dropdown-menu {
	margin-top: 0px;
	margin-left: 0px;
	}
	.cover-container{
		background-color: black;
	}

	.list-group{
		width: 100%;
		max-width: 100%;
	}
	.list-group-item{
	background-color: inherit;
	color: gainsboro;
	
	}
	a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
		color:wheat;
		text-decoration: none;
		background-color:inherit;
		border-bottom: 1px solid wheat
	}
	#Dropdm{
		background-color: inherit;
		border-color: inherit;
		color: gainsboro;
	}
	/* ................................. */

	
.sidebar-nav li.active,
.sidebar-nav li a:hover{
     background-color:inherit;
     color:rgb(193, 179, 245);

} 

