/* You can add global styles to this file, and also import other style files */
.maindiv{
    font-family: FontAwesome;
    position:relative;
    padding-left: 170px;
    display: block;
    overflow-x: hidden;
}
.fa{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: rgb(38, 181, 247);
    text-shadow: 2px 2px 15px black;
}
.fa:hover{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 10px darkgray;
    font-weight: bold;
    cursor: pointer;
}
.modal-backdrop.show {
    opacity: 0;
}
/* ---------------------------------------------------------------------------- */
